:root {
  --main-bg-color: #0e0e0e;
  --main-font-color: #b9b5b5;
  --main-highlight-color: #fff;
  --main-link-active-color: #fff;
  --main-border-color: #ccc;
  --activity-bg-color: #000;
  --main-bg-color-dark: #202020;
}

$main-bg-color: #0e0e0e;
