.link {
  display: inline-block;
  color: var(--main-font-color);
  padding: 5px;
  text-decoration: none;
  transition: all 0.5s;

  &:visited,
  &:focus &:hover,
  &:active {
    color: var(--main-font-color);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--main-link-active-color);
  }
}

@import "variables";

@import "components/layout";
@import "components/header";
@import "components/navigation";
